<h1>Hello, <%= @user.username %></h1>
  <p>
    Click <%= link_to "Here", "http://localhost:3001/reset/#{@user.reset_token}" %> to reset your password
  </p>
<p>If you didn't request for a password reset in Blog ignore this message</p>